*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color: #242f6d;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #1aeeef;
    border-radius: 6px;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;

}
header.sticky
{
background: #242f6d;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
header .logo
{
position: relative;
color: #fff;
text-decoration: none;
font-size: 2em;
font-weight: 700;
}

header .nav
{
    display:flex;
    justify-content:center;
    align-items: center;
}
/*DESDE*/

header ul button
{
list-style: none;
margin: 10px;
background-color: transparent;
border: none;
}

header ul button a 
{
    font-size: 17px;   
    border: none;
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline:none;
}
header ul button a:hover 
{
  background:#1aeeef;
  color: #000014;
  box-shadow: 0 0 10px #1aeeef;
  outline:none;
  text-align: center;
}

/*HASTA*/
header .action .searchBx
{
padding: 5px;
margin:5px;
display:flex;
justify-content:center;
background: #fff;
border-radius: 5px;
}
header .action .searchBx i
{
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}

header .action .searchBx input
{
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}