<table style="color:rgb(0, 162, 255);" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Estreno</th>
        <th scope="col">Publico</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let pelicula of this.listadoPeliculasRecibido">
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.fechaDeEstreno}}</td>
        <td>{{pelicula.cantidadDePublico}}</td>
        <td><img src={{pelicula.foto}} width="35px" height="35px"></td>
      </tr>
    </tbody>
  </table>
