/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgb(20, 11, 41)
}
html{
    background-color:rgb(20, 11, 41)
}
main
{
    background-color:rgb(20, 11, 41)
}