
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

header {
   
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
    
}

#style-8::-webkit-scrollbar-track
{
	background-color: #001986;	
}
#style-8::-webkit-scrollbar
{

	background-color: #01003a;
}
#style-8::-webkit-scrollbar-thumb
{
	background-color: #0084ff;	
    height: 60px;
    box-shadow: #0084ff;
}


.container
{
    height: 15rem;
    width: 30rem;
    overflow-y: scroll; 
    -webkit-box-shadow: 1px 1px 31px -5px rgba(0, 247, 255, 0.75);
    -moz-box-shadow: 1px 1px 31px -5px rgba(1, 72, 131, 0.75);
    box-shadow: 1px 1px 31px -5px rgba(43, 150, 250, 0.75);
}

.pais:hover
{
   background-color: #013788;
   cursor: pointer;
}
.pais{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
